<div>
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highlight>sit amet consectetu</span>r adipisicing elit. Neque dolores autem iste dignissimos error recusandae iure incidunt laudantium, cupiditate, voluptate ipsam quidem minima officiis mollitia laboriosam iusto excepturi nisi blanditiis.</p>
    <p class="text-xs">
        Número de clientes: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/>
    </p>
    <div>
        <app-wave-audio audioURL="assets/audio.mp3" />
    </div>
</div>